# Ignore build artifacts
dist/
build/

# Ignore Python bytecode
__pycache__/
*.egg-info/

# pyinstall files
main.spec


old/
scrap_paper.txt
test.sh
src/oldmain.py
src/arrays_and_dicts.py
src/lgcy_arts.py

# IDE / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Virtual environments
venv/
.env/
.env.bak/

# Test / coverage
.coverage
htmlcov/